@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.swal2-input, .swal2-textarea {
  margin: 10px auto !important;
  width: 90% !important;
}

.swal2-textarea {
  height: 100px !important;
}

.swal2-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 10px 0;
}

.swal2-checkbox {
  width: 1rem;
  height: 1rem;
}